<%- include ('./partials/header.ejs') %>

<main class="mb-10">
    <div class="p-4">
        <h1 class="text-4xl mb-2 uppercase font-extrabold">Le Club</h1>
    </div>
    <section class="mb-5">
        <div class="px-4">
            <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <h2 class="mb-2 text-3xl uppercase font-extrabold">Nos valeurs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet eu malesuada sed mattis semper vitae.
                Quis
                dignissim nascetur eget turpis mi habitant duis ac id. Eleifend non lectus nunc sollicitudin vitae
                varius
                suspendisse. Amet et consequat eget elit egestas sit. Ac in vestibulum at euismod libero, mauris tortor
                amet. Sed dignissim aenean a justo sed tellus tristique commodo. Orci viverra gravida ipsum, fermentum
                enim
                eget rhoncus velit. Malesuada adipiscing morbi ac massa.
            </p>
        </div>
        <div class="my-4 bg-valeurs bg-cover bg-center bg-no-repeat h-48"> </div>
    </section>
    <section class="mb-5">
        <div class="px-4">
            <h2 class="mb-2 text-3xl uppercase font-extrabold">Notre histoire</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet eu malesuada sed mattis semper vitae.
                Quis
                dignissim nascetur eget turpis mi habitant duis ac id. Eleifend non lectus nunc sollicitudin vitae
                varius
                suspendisse. Amet et consequat eget elit egestas sit. Ac in vestibulum at euismod libero, mauris tortor
                amet. Sed dignissim aenean a justo sed tellus tristique commodo. Orci viverra gravida ipsum, fermentum
                enim
                eget rhoncus velit. Malesuada adipiscing morbi ac massa.
            </p>
        </div>

        <div class="my-4 bg-histoire bg-cover bg-bottom bg-no-repeat h-48"></div>
    </section>

</main>

<%- include ('./partials/footer.ejs')  %>