<%- include ('./partials/header.ejs') %>

<main class="my-10">
    <div class="px-8 pb-0 max-w-screen-lg m-auto">
        <h1 class="mb-6">Le Club</h1>
        <p class="mb-6">L'ACDC c'est avant tout plusieurs copains qui roulent ensemble en partageant les mêmes valeurs</p>
    </div>
    <section class="mb-6">
        <div class="px-8 pb-4 max-w-screen-lg m-auto">
            <h2 class="mb-2">Nos valeurs</h2>
            <p>Il s'agit d'un groupe de copains ayant une passion commune pour le cyclisme sur route ainsi que l'émerveillement des montagnes (d'abord pyrénnéennes) qui décide de former une association afin de regrouper davantage de pasionnés. L'objectif est de pouvoir apprendre, échanger, découvrir et rouler ensemble.  Anciennement NCF (Nantes Cyclisme Formation), l'assocation se structure davantage en 2020 avec une nouveau nom Assocation des Chasseurs De Cols (ACDC Cyclisme), un nouveau logo ainsi qu'un site internet et compte instagram.z
        </div>
        <div class="my-4 bg-valeurs bg-cover bg-center bg-no-repeat h-48 md:h-80 lg:h-96"> </div>
    </section>
    <section class="mb-6">
        <div class="px-8 pb-4 max-w-screen-lg m-auto">
            <h2 class="mb-2">Notre histoire</h2>
            <p>Les valeurs qui dictent toutes nos sorties et tous nos évènements sont simples et communes à tous les passionnées de vélo : solidarité, esprit d'équipe, effort et plaisir. Si vous les partagez et souhaitez également partager quelques sorties n'hésitez pas à nous contacter.
            </p>
        </div>

        <div class="my-4 bg-histoire bg-cover bg-no-repeat h-48 md:h-80 lg:h-96" style="background-position: 50% 75%;"></div>
    </section>

</main>

<%- include ('./partials/footer.ejs')  %>