<%- include ('./partials/header.ejs') %>
    
<main class="my-10">
    <div class="px-8 pb-0 max-w-screen-lg m-auto h-2/3">
        <h1 class="mb-12">Contact</h1>
        <p class="mb-12 text-center text-xl md:text-3xl">Il y a eu un problème lors de l'envoi de votre message, merci de réessayer</p>
        <div class="text-center">
            <a class="my-4 btn inline-block" href="/contact">Retouner à la page contact</a>
        </div>
    </div>
</main>

<%- include ('./partials/footer.ejs')  %>