    <%- include ('./partials/header.ejs') %>
    
    <main class="mt-6">
        <div class="px-8 pb-0 max-w-screen-lg m-auto h-2/3">
            <h1 class="mb-12">Contact</h1>
            <p class="mb-12 text-center text-xl md:text-3xl"><i class="fas fa-paper-plane mr-4"></i>Votre message a bien été envoyé</p>
            <div class="text-center">
                <a class="my-4 btn inline-block" href="/">Retouner à l'accueil</a>
            </div>
        </div>
    </main>
    
    <%- include ('./partials/footer.ejs')  %>