<%- include ('./partials/header.ejs') %>

<main class="py-10 md:full-height">
    <div class="max-w-screen-lg m-auto px-8">
        <h1 class="mb-6">Crédits</h1>
    </div>
    <section class="px-8 max-w-screen-lg m-auto">
        <h2 class="mt-10 mb-4">Photos</h2>
        <ul class="list-disc my-4 ml-6">
            <li>Photos ACDC Cyclisme : Clément Hautier & Fréderic Westermann </li>
            <li>Photo stage Nantes : <a href="https://pixabay.com/users/asteroide_b612-865403/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4306251">Thierry Raimbault</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4306251">Pixabay</a></li>
            <li>Photo stage angoulème : <a href="https://pixabay.com/users/cristouclap-507529/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1476132">cristouclap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1476132">Pixabay</a></li>
            <li>Photo transalpes : <a href="https://pixabay.com/users/pasja1000-6355831/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4203893">pasja1000</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4203893">Pixabay</a></li>
        </ul>

        <h2 class="mt-10 mb-4">Conception et développement du site</h2>
        <p class="my-4">Conception et développement du site : Benjamin Sabardu, <a class="text-middleblue hover:underline"  href="http://www.bensab.fr"
        target="_blank">www.bensab.fr</a></p>

    </section>

</main>

<%- include ('./partials/footer.ejs')  %>