<%- include ('./partials/header.ejs') %>

<main class="my-10">
    <section class="intro max-w-screen-lg m-auto">
        <div class="px-8">
            <h1 class="mb-6">Le calendrier</h1>
            <p class="mb-6">La saison est rythmée par plusieurs stages. Ces rencontres permettent aux différents coureurs de préparer l'évènement majeur de l'année (cette année la Transalpes) mais surtout de se retrouver pour un week-end convivial</p>
        </div>
    </section>
    <section class="events px-8 mb-5 max-w-screen-lg m-auto">
        <div class="events_wrapper uppercase font-extrabold font-oswald">
            <article class="flex flex-col md:flex-row flex-1">
                <div class="event_date_wrapper">
                    <div class="relative event_date px-3 py-3 bg-lightblue inline-block w-32">6-7 Mars</div>
                </div>
                <div class="event_name_wrapper mb-4 md:flex-1">
                    <div class="md:pl-6 px-3 py-3 bg-darkblue text-white inline-block event_name_sizing">Stage reprise de saison à st brieuc (22)</div>
                </div>
            </article>

        <article class="flex flex-col md:flex-row md:flex-1">
            <div class="event_date_wrapper">
                <div class="relative event_date px-3 py-3 bg-lightblue inline-block w-32">10-11 Avril</div>
            </div>
            <div class="event_name_wrapper mb-4 md:flex-1">
                <div class="md:pl-6 px-3 py-3 bg-darkblue text-white inline-block event_name_sizing">Stage pays Nantais (44)</div>
            </div>
        </article>

        <article class="flex flex-col md:flex-row md:flex-1">
            <div class="event_date_wrapper">
                <div class="relative event_date px-3 py-3 bg-lightblue inline-block w-32">8-9 Mai</div>
            </div>
            <div class="event_name_wrapper mb-4 md:flex-1">
                <div class="md:pl-6 px-3 py-3 bg-darkblue text-white inline-block event_name_sizing">Stage angouleme et charente (16)</div>
            </div>
        </article>

        <article class="flex flex-col md:flex-row md:flex-1">
            <div class="event_date_wrapper">
                <div class="relative event_date px-3 py-3 bg-lightblue inline-block w-32">9-17 Juillet</div>
            </div>
            <div class="event_name_wrapper mb-4 md:flex-1">
                <div class="md:pl-6 px-3 py-3 bg-darkblue text-white inline-block event_name_sizing">Transalpes</div>
            </div>
        </article>

        </div>


    </section>

    <div class="my-4 bg-events bg-cover bg-no-repeat h-48 md:h-80 lg:h-96" style="background-position: 50% 50%;"></div>

</main>

<%- include ('./partials/footer.ejs')  %>