<%- include ('./partials/header.ejs') %>

<main class="mb-10">
    <section class="intro">
        <div class="p-4">
            <h1 class="text-4xl mb-2 uppercase font-extrabold">Le calendrier</h1>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet eu malesuada sed mattis
                semper vitae. Quis dignissim nascetur eget turpis mi habitant duis ac id. Eleifend non lectus nunc
                sollicitudin vitae varius suspendisse. Amet et consequat eget elit egestas sit. Ac in vestibulum at
                euismod libero, mauris tortor amet. Sed dignissim aenean.</p>
        </div>
    </section>
    <section class="events p-4 mb-5">
        <div class="events_wrapper uppercase font-extrabold font-oswald">
            <article class="flex-col">
                <div class="event_date_wrapper">
                    <div class="relative event_date px-3 py-3 bg-lightblue inline-block">6-7 Mars</div>
                </div>
                <div class="sm:event_name_wrapper mb-4">
                    <div class="px-3 py-3 bg-darkblue text-white">Stage reprise de saison à st brieuc (22)</div>
                </div>
            </article>

        <article class="flex-col">
            <div class="event_date_wrapper ">
                <div class="relative event_date px-3 py-3 bg-lightblue inline-block">10-11 Avril</div>
            </div>
            <div class="sm:event_name_wrapper mb-4">
                <div class="px-3 py-3 bg-darkblue text-white">Stage pays Nantais (44)</div>
            </div>
        </article>

        <article class="flex-col">
            <div class="event_date_wrapper ">
                <div class="relative event_date px-3 py-3 bg-lightblue inline-block">8-9 Mai</div>
            </div>
            <div class="sm:event_name_wrapper mb-4">
                <div class="px-3 py-3 bg-darkblue text-white">Stage angouleme et charente (16)</div>
            </div>
        </article>

        <article class="flex-col">
            <div class="event_date_wrapper">
                <div class="relative event_date px-3 py-3 bg-lightblue inline-block">9-17 Juillet</div>
            </div>
            <div class="sm:event_name_wrapper mb-4">
                <div class="px-3 py-3 bg-darkblue text-white">Transalpes</div>
            </div>
        </article>

        </div>


    </section>

    <div class="my-4 bg-events bg-cover bg-bottom bg-no-repeat h-48"></div>

</main>

<%- include ('./partials/footer.ejs')  %>