<%- include ('./partials/header.ejs') %>

<section class="home-landing">
    <div class="home-landing__main-content">
        <h1>Association des chasseurs de cols</h1>
        <h2>Club d'amis à vélo</h2>
    </div>
</section>


<section class="home__events__block">
    <div class="events__main-content">
        <h2 class="events__title">Les prochains évènements</h2>

        <div class="events-wrapper">
            <article class="event-card">
                <img src="/img/stage_bretagne.jpg" class="event-card__img" alt="Illustration stage angoulème">
                <div class="event-card__content-wrapper">

                    <header>
                        <h3 class="event-card__title">Stage bretagne</h3>
                    </header>
                    <p class="event-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
                        corporis, expedita accusantium
                        natus
                        dolor perspiciatis consectetur temporibus! Nesciunt laudantium reiciendis repudiandae autem
                        deserunt
                        doloremque consequatur perferendis, in possimus quo harum.</p>
                    <a class="event-card__link">Découvrir</a>
                </div>
            </article>

            <article class="event-card">
                <img src="/img/stage_angouleme.jpg" class="event-card__img" alt="Illustration stage angoulème">
                <div class="event-card__content-wrapper">

                    <header>
                        <h3 class="event-card__title">Stage angoulème</h3>
                    </header>
                    <p class="event-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit corporis, expedita accusantium
                        natus
                        dolor perspiciatis consectetur temporibus! Nesciunt laudantium reiciendis repudiandae autem
                        deserunt
                        doloremque consequatur perferendis, in possimus quo harum.</p>
                    <a class="event-card__link">Découvrir</a>
                </div>
            </article>

            <article class="event-card">
                <img src="/img/transalpe.jpg" class="event-card__img" alt="Illustration stage angoulème">
                <div class="event-card__content-wrapper">

                    <header>
                        <h3 class="event-card__title">Transalpe</h3>
                    </header>
                    <p class="event-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit corporis, expedita accusantium
                        natus
                        dolor perspiciatis consectetur temporibus! Nesciunt laudantium reiciendis repudiandae
                        autem deserunt
                        doloremque consequatur perferendis, in possimus quo harum.</p>
                    <a class="event-card__link">Découvrir</a>
                </div>
            </article>


        </div>

        <a href="/events" class="btn btn-primary">Tous les évènements</a>

    </div>
    </div>
</section>

<section class="home__team__block">
    <div class="team__main-content">

        <div class="team__content">
            <h2 class="team__title">Le team</h2>
            <p class="team__text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <a class="btn btn-secondary btn-secondary--team">Découvrir les coureurs</a>
        </div>
        <div class="team__img-wrapper">
            <img src="/img/team.jpg" class="team__img">
        </div>
    </div>
</section>


<section class="home__club__block">
    <div class="club__main-content">
        <div class="club__img-wrapper">
            <img src="/img/club.jpg" class="club__img" alt="Un cycliste à l'attaque sur une route de montagne">
            <h2 class="club__title">Le club</h2>
    </div>

        <div class="club__content">
            <div class="club__content-block">
                <h3 class="club__sub-title">Notre histoire</h3> 
                <p class="club__text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="club__content-block">
                <h3 class="club__sub-title">Nos valeurs</h3> 
                <p class="club__text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
                <a class="btn btn-secondary btn-secondary--club">En savoir plus sur ACDC</a>
            </div>
    </div>
</section>




<%- include ('./partials/footer.ejs')  %>