<%- include ('./partials/header.ejs', {url}) %>


<main>




    <section class="home-landing">
        <div class="bg-opacity-50 bg-darkblue bg-home bg-cover bg-center h-96"
            style="box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.6); background-position: 50% 75%;">
            <div class="flex align-bottom pb-8 max-w-screen-lg m-auto home-landing__main-content h-96 px-8">
                <div class="mt-auto text-white self-end">
                    <h1 class="text-5xl md:text-6xl  mb-2 md:mb-6">Association des chasseurs de cols</h1>
                    <h2 class="text-3xl md:text-4xl">Club d'amis à vélo</h2>
                </div>
            </div>
        </div>
    </section>


    <section class="home__events__block p-8 max-w-screen-lg m-auto flex-col justify-center md:mb-10">

        <h2 class="mb-6 text-center text-darkblue">Les prochains évènements</h2>

        <div class="events-wrapper grid grid-flow-col grid-cols-1 md:grid-cols-3 md:gap-4">
            <article class="event-card shadow-lg my-3 rounded-xl md:max-w-lg">
                <img src="/img/stage_nantes.jpg" class="event-card__img block rounded-t-xl"
                alt="Photo de l'éléphant de Nantes">
                <div class="event-card__content-wrapper px-8 py-4">
                    
                    <header>
                        <h3 class="event-card__title  text-3xl text-center text-darkblue  font-extrabold mb-2">
                            Stage Pays Nantais - Bouguenais (44)</h3>
                        </header>
                        <p class="event-card__description font-bold">Stage durant lequel les coureurs auront l'occasion de travailler <strong>le contre la montre individuel et par équipe</strong> ainsi que les <strong>relais</strong>. Au programme : <strong>150 km - 600 D+</strong></p>
                        <div class="event-card__link text-lg my-2">
                        </div>
                    </div>
                </article>
            <article class="event-card shadow-lg my-3 rounded-xl md:max-w-lg">
                <img src="/img/stage_angouleme.jpg" class="event-card__img block rounded-t-xl"
                alt="La cathédrale d'angoulème">
                <div class="event-card__content-wrapper px-8 py-4">
                    
                    <header>
                        <h3 class="event-card__title text-3xl text-center text-darkblue mb-2">
                            Stage Charente-Angoulême (16)</h3>
                        </header>
                        <p class="event-card__description font-bold">Stage qui permettra aux participants de paufiner leur préparation physique à l'approche de la Translapes avec davantage de bosses et le retour du soleil on l'espère ! Au programme : <strong>150 km - 2000 D+</strong></p>
                        <div class="event-card__link text-lg my-2">
                        </div>
                    </div>
                </article>
                <article class="event-card shadow-lg my-3 rounded-xl md:max-w-lg">
                    <img src="/img/translape.jpg" class="event-card__img block rounded-t-xl"
                        alt="Un cycliste sur une route de montagne eneigée">
                    <div class="event-card__content-wrapper px-8 py-4">
    
                        <header>
                            <h3 class="event-card__title text-3xl text-center text-darkblue mb-2">
                                Transalpes</h3>
                        </header>
                        <p class="event-card__description font-bold">Evènement majeur de l'année sportive avec cette grande traversée de Thonon-les-bains à Nice qui permetrra aux coureurs de savourer la beauté des paysages et villages traversés et garder des souvenirs impérissables !! Au programme : 700 KM - 17000 D+</p>
                        <div class="event-card__link text-lg my-2">
                        </div>
                    </div>
                </article>

        </div>

        <div class="text-center">
            <a href="/calendrier" class="btn my-4 inline-block">Tous les évènements</a>
        </div>

    </section>

    <section class="home__team__block bg-darkblue p-8 flex-col justify-center">
        <div class="team_wrapper max-w-screen-lg m-auto">


            <h2 class="md:hidden team__title text-center md:text-left text-white mb-6 md:my-6">Le team
            </h2>

            <div class="team_content_wrapper md:flex md:flex-row-reverse">


                <img src="/img/team.jpg" class="team__img m-auto md:w-3/5 lg:-mt-16"
                    style="box-shadow: 0px 4px 40px 0px rgba(28, 27, 43, .2);">

                <div class="content_wrapper md:mr-4">

                    <h2 class="hidden md:block text-center md:text-left text-white mb-2 md:my-6">Le team
                    </h2>
                    <p class="team__text-content text-white">L'équipe s'étoffe d'années en années et va bientôt comporter pas moins d'une quinzaine de passionnés.</p>

                    <div>
                        <a href="/team" class="btn-secondary my-2 inline-block">Découvrir les coureurs</a><i
                            class="ml-1 fas fa-chevron-right text-sm text-lightblue"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="home__team__block md:p-0 flex-col justify-center">
        <div class="club_wrapper md:grid md:grid-cols-2 md:gap-4">


            <div class="club__img-wrapper relative">
                <img src="/img/club.jpg" class="club__img" alt="Un cycliste à l'attaque sur une route de montagne">
                <h2 class="club__title absolute top-20 right-10 md:right-20 text-white text-4xl sm:text-6xl lg:text-8xl">Le club</h2>
            </div>

            <div class="team_content_wrapper lg:flex lg:flex-row-reverse">


                <div class="content_wrapper md:mr-4 p-8 sm:p-4 lg:p-8 xl:py-16 xl:px-24">

                    <div class="club__content-block py-2">
                        <h3 class="club__sub-title text-darkblue mb-1 text-2xl lg:text-4xl">Notre histoire</h3>
                        <p class="club__text-content">Il s'agit d'un groupe de copains ayant une passion commune pour le cyclisme sur route ainsi que l'émerveillement des montagnes (d'abord pyrénnéennes) qui décide de former une association afin de regrouper davantage de pasionnés. L'objectif est de pouvoir apprendre, échanger, découvrir et rouler ensemble.  Anciennement NCF (Nantes Cyclisme Formation), l'assocation se structure davantage en 2020 avec une nouveau nom Assocation des Chasseurs De Cols (ACDC Cyclisme), un nouveau logo ainsi qu'un site internet et compte instagram.</p>
                    </div>
                    <div class="club__content-block py-2">
                        <h3 class="club__sub-title text-darkblue mb-1 text-2xl lg:text-4xl">Nos valeurs</h3>
                        <p class="club__text-content">Les valeurs qui dictent toutes nos sorties et tous nos évènements sont simples et communes à tous les passionnées de vélo : solidarité, esprit d'équipe, effort et plaisir. Si vous les partagez et souhaitez également partager quelques sorties n'hésitez pas à nous contacter.</p>
                    </div>

                    <div>
                        <a href="/club" class="btn-secondary my- inline-block">En savoir plus sur ACDC</a><i
                            class="ml-1 fas fa-chevron-right text-sm text-lightblue"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>




</main>

<%- include ('./partials/footer.ejs')  %>