<%- include ('./partials/header.ejs') %>

<main class="my-10">
    <div class="max-w-screen-lg m-auto px-8">
        <h1 class="mb-6">Mentions légales</h1>
    </div>
    <section class="px-8 max-w-screen-lg m-auto">
        <h2 class="mt-10 mb-4">Identité</h2>
        <ul class="list-disc my-4 ml-6">
            <li>Nom du site web : ACDC Cyclisme</li>
            <li>Adresse : www.acdc-cyclisme.fr</li>
            <li>Propriétaire : ACDC Cyclisme, association loi 1901 - 15 avenue du bosquet, 44340 Bouguenais </li>
            <li>Responsable de publicaiton : David Potiron</li>
            <li>Conception et Réalisation : bensab - Benjamin Sabardu - www.bensab.fr</li>
            <li>Hébergement : Amazon Web Services </li>
        </ul>

        <h2 class="mt-10 mb-4">Conditions d’utilisation</h2>
        <p class="my-4">L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation
            décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout
            moment.</p>

        <h2 class="mt-10 mb-4">Informations</h2>
        <p class="my-4">
            Les informations et documents du site sont présentés à titre indicatif, ne revêtent pas un caractère
            exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.

            Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à
            l’accès au site.
        </p>

        <h2 class="mt-10 mb-4">Interactivité</h2>
        <p class="my-4">Les utilisateurs du site peuvent éventuellement y déposer du contenu, apparaissant sur le site dans des
            espaces dédiés (notamment via les commentaires). Le contenu déposé reste sous la responsabilité de leurs
            auteurs, qui en assument pleinement l’entière responsabilité juridique.</p>

        <p class="my-4">Le propriétaire du site se réserve le droit de retirer sans préavis et sans justification tout contenu déposé
            par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en
            vigueur.</p>

        <h2 class="mt-10 mb-4">Propriété intellectuelle</h2>
        <p class="my-4">Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes,
            sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de
            propriété intellectuelle ou les droits d’usage.</p>

        <p class="my-4">Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du
            site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de
            l’auteur.</p>

        <p class="my-4">Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée
            comme constitutive d’une contrefaçon et peut être poursuivie en justice.</p>

        <p class="my-4">Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.</p>

        <h2 class="mt-10 mb-4">Liens</h2>
        <h3 class="mb-3">Liens sortants</h3>
        <p class="my-4">Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens
            hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu
            que leur pertinence.</p>

        <h3 class="mb-3">Liens entrants</h3>
        <p class="my-4">Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que
            ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter tout risque
            de confusion entre le site citant et le propriétaire du site ainsi que toute présentation tendancieuse, ou
            contraire aux lois en vigueur.</p>

        <p class="my-4">Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site
            source ne respecte pas les règles ainsi définies.</p>

        <h2 class="mt-10 mb-4">Confidentialité</h2>
        <p class="my-4">Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le
            concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité.</p>

        <p class="my-4">Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL.</p>

        <h2 class="mt-10 mb-4">Crédits</h2>
        <p class="my-4">Photographies : Clément Hautier & Fréderic Westermann</p>
        <p class="my-4">Conception et développement du site : Benjamin Sabardu, <a class="text-middleblue hover:underline"  href="http://www.bensab.fr"
                target="_blank">www.bensab.fr</a></p>
    </section>

</main>

<%- include ('./partials/footer.ejs')  %>