<%- include ('./partials/header.ejs') %>


<main class="my-10">
    <header class="intro p-4 max-w-screen-lg m-auto">
        <h1 class="mb-6">Le team ACDC</h1>

    </header>

    <section class="px-4 max-w-screen-lg m-auto">
        <header>
            <h2 class="mb-6 text-2xl">Les coureurs</h2>
        </header>
        <div class="rider_wrapper mx-6">
            <div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

                <% for (let rider of riders) { 
                    
                    if(rider.speciality !== 'staff') { %>

    <%- include ('./partials/riders.ejs', {rider}) %>
                    

                <% }} %>


            </div>

        </div>
    </section>

    <section class="mt-10 px-4 max-w-screen-lg m-auto">
        <header>
            <h2 class="mb-6 text-2xl">Le staff</h2>
        </header>
        <div class="rider_wrapper mx-6">
            <div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

                <% for (let rider of riders) { 
                    
                    if(rider.speciality === 'staff') { %>


                        <%- include ('./partials/riders.ejs', {rider}) %>


                <% }} %>

            </div>
        </div>
    </section>


</main>

<%- include ('./partials/footer.ejs')  %>