<footer class="footer-block bg-darkblue text-white p-4">
    <div class="footer-main">
        <div class="footer-row1 flex justify-between mb-10">
            <h2 class="footer-title text-4xl uppercase font-extrabold">ACDC</h2>
            <div class="footer-socials flex">
                <div class="social-wrapper mr-2">
                    <i class="fab fa-facebook-f social-logo"></i>
                </div>
                <div class="social-wrapper mr-2">
                    <i class="social-logo fab fa-instagram"></i>
                </div>
                <div class="social-wrapper">
                    <i class="social-logo fab fa-strava"></i>
                </div>

            </div>
        </div>

        <nav class="footer-nav">
            <ul class="footer-nav__list flex justify-between">
                <li class="footer-nav__item"><a>Contact</a></li>
                <li class="footer-nav__item"><a>Mentions légales</a></li>
                <li class="footer-nav__item"><a>Crédits</a></li>
            </ul>
        </nav>
    </div>
</footer class="mb-40">




</body>

</html>