<footer class="footer-block bg-darkblue text-white p-4">
    <div class="footer-main max-w-screen-lg m-auto">
        <div class="footer-row1 flex justify-between mb-10">
            <h2 class="footer-title text-4xl uppercase font-extrabold">ACDC</h2>
            <div class="footer-socials flex">
                <a href="https://www.facebook.com/ACDC-Cyclisme-102204634748495/" target="_blank"><div class="social-wrapper mr-2">
                    <i class="fab fa-facebook-f social-logo"></i>
                </div></a>
                <a href="https://www.instagram.com/acdccyclisme/" target="_blank"><div class="social-wrapper mr-2">
                    <i class="social-logo fab fa-instagram"></i>
                </div></a>
                <a href="https://www.strava.com/clubs/acdccyclisme" target="_blank"><div class="social-wrapper">
                    <i class="social-logo fab fa-strava"></i>
                </div></a>

            </div>
        </div>

        <nav class="footer-nav">
            <ul class="footer-nav__list flex justify-between sm:justify-start">
                <li class="sm:mr-4"><a href="/contact">Contact</a></li>
                <li class="sm:mr-4"><a href="/mentions-legales">Mentions légales</a></li>
                <li class="sm:mr-4"><a href="/credits">Crédits</a></li>
            </ul>
        </nav>
    
        <div class="text-center">
            <small class="text-sm text-lightblue">made with ❤️ by <a href="http://www.bensab.fr" target="_blank">bensab</a></small>
        </div>
    </div>
</footer class="mb-40">




</body>

</html>