<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACDC - Association des chasseurs de cols</title>
</head>
<body>
<header>
    <h1><a href="/"><img src="/img/logo-rond.png" alt="Logo ACDC Cyclisme"></a></h1>
    <nav>
        <ul>
            <li><a href="/club">Club</a></li>
            <li><a href="/calendrier">Calendrier</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/medias">Medias</a></li>
        </ul>
    </nav>
</header>