<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACDC - Association des chasseurs de cols</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/46397dd1b7.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="header-block">
    <div class="header__logo-wrapper"><h1><a href="/"><img class="header__logo" src="/img/logo-rond.png" alt="Logo ACDC Cyclisme"></a></h1></div>
    <nav class="main-nav">
        <ul>
            <li><a href="/club">Club</a></li>
            <li><a href="/calendrier">Calendrier</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/medias">Medias</a></li>
        </ul>
    </nav>
</header>