<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACDC - Association des chasseurs de cols</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/46397dd1b7.js" crossorigin="anonymous"></script>
    <script src="/js/app.js" defer></script>


</head>

<body class="font-lato text-darkblue">
    <div>
        <nav class="bg-darkblue">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center m-auto">
                        <div id="logo-div" class="flex-shrink-0">
                            <a href="/"><img class="h-16 w-16" src="/img/logo-rond.png" alt="Logo ACDC Cyclisme"></a>
                        </div>
                        <div class="hidden md:block">
                            <div
                                class="ml-10 flex items-baseline space-x-4 justify-center uppercase font-extrabold font-oswald tex">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="/" class="text-white px-3 py-2 rounded-md">Accueil</a>

                                <a href="/club" class="text-white px-3 py-2 rounded-md">Club</a>

                                <a href="/calendrier" class="text-white px-3 py-2 rounded-md">Calendrier</a>

                                <a href="/team" class="text-white px-3 py-2 rounded-md">Team</a>
                                <!-- 
                                <a href="/medias"
                                    class="text-white px-3 py-2 rounded-md">Medias</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button id="burger-menu" class="inline-flex items-center justify-center">
                            <span class="sr-only">Ouvrir le menu</span>
                            <svg id="burger-icon" class="block h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="white" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" />
                            </svg>

                            <svg id="cross-menu-icon" class="hidden h-8 w-8" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="white" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Mobile Menu -->
            <div id="mobile-menu" class="hidden md:hidden">
                <div
                    class="h-screen px-2 pt-10 pb-3 space-y-1 sm:px-3 font-oswald font-bold uppercase tracking-tighter text-5xl text-white">
                    <a href="/" class="block px-10 py-2 rounded-md">Accueil</a>

                    <a href="/club" class=" block px-10 py-2 rounded-md">Club</a>

                    <a href="/calendrier" class="block px-10 py-2 rounded-md">Calendrier</a>

                    <a href="/team" class="block px-10 py-2 rounded-md">Team</a>

                    <!--         <a href="/media" class="block px-10 py-2 rounded-md">Media</a> -->

                </div>
        </nav>