@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

@layer base {
    h1,h2,h3,h4 {
        @apply font-oswald
    }
}

@layer utilities {

:root {
    --darkblue: #1C1B2B;
    --lightblue: #48A9A6;
    --white: #E0E6F5;


}


h1,h2,h3,h4,h5 {
    @apply font-oswald font-extrabold uppercase tracking-tighter
}

h1 {
    @apply text-6xl
}

h2 {
    @apply text-5xl
}

h3 {
    @apply text-4xl
}

.btn {
    @apply font-bold py-4 px-8 rounded bg-lightblue text-white;
  }

.btn-secondary {
    @apply font-bold py-2 text-lightblue;
  }

.social-wrapper {
    @apply bg-lightblue text-darkblue rounded-sm py-2 px-3;
}

.social-logo {
    @apply h-4 w-4 text-center;
}

.riders {
    padding-top: 136.5%
}

@variants responsive {
    .event_date_wrapper:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 3rem solid #48A9A6;
    border-right: 1rem solid transparent;
    }
    
    .event_name_wrapper:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 3rem solid #1C1B2B;
        border-right: 1rem solid transparent;
        }

    .event_name_sizing {
        width: calc(100% - 1rem);
    }
}

}
